<h2>Options</h2>

<h3>VCAP_APPLICATION</h3>
<table>
    <tr>
        <td>App Id</td>
        <td>@ViewData["AppId"]</td>
    </tr>
    <tr>
        <td>App Name</td>
        <td>@ViewData["AppName"]</td>
    </tr>
    <tr>
        <td>URI</td>
        <td>@ViewData["URI"]</td>
    </tr>
</table>

<h3>VCAP_SERVICES</h3>
<table>
    <tr>
        <td>Label</td>
        <td>@ViewData["ServiceLabel"]</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@ViewData["ServiceName"]</td>
    </tr>
    <tr>
        <td>Client Id</td>
        <td>@ViewData["ClientId"]</td>
    </tr>
    <tr>
        <td>Client Secret</td>
        <td>@ViewData["ClientSecret"]</td>
    </tr>
    <tr>
        <td>URI</td>
        <td>@ViewData["ServiceUri"]</td>
    </tr>
</table>

<p>@ViewData["Message"]</p>